:root {
  --baby-powder: #fffffa;
  --caribbean-current: #0d5c63;
  --verdigris: #44a1a0;
  --tiffany-blue: #78cdd7;
}

body {
  font-family: Verdana, "Arial Narrow Bold", sans-serif;
  background-color: var(--baby-powder);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 1rem;
  padding-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--caribbean-current);
  margin-top: 3rem;
}

h3,
h4,
h5,
h6 {
  color: var(--caribbean-current);
  margin-top: 2rem;
}

h1 {
  font-size: 32px;
}

table {
  border-spacing: 0.5rem;
}

table td:nth-child(2) {
  white-space: nowrap;
}

article {
  max-width: 800px;
  margin: auto;
}

.program__block {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.program__block > div p {
  margin-top: 0;
}

.program__block img {
  margin: 0;
  max-width: 100%;
}

.program__tagline {
  font-style: italic;
}

@media (max-width: 800px) {
  .program__block {
    display: block;
  }

  .program__block > div p {
    margin-top: 1rem;
  }
}
